<select name="cat" id="cat"
    class=" grid justify-center my-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    [(ngModel)]="selectedCatId">
    <!-- (change)="filterByCat()" -->
    <option value="0" disabled selected>--SELECT CATEGORY--</option>
    <option *ngFor="let cat of catList" [value]="cat.id" #cat>
        {{cat.name}}
    </option>
</select>
<div>
    <span
        class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">date
        : {{dateNow | date:'longDate'}}</span>
</div>
<app-product-list [sentCatId]="selectedCatId"/>
<div>
    order price : {{totalPrice |usdToEgp |currency :'EGP':'symbol'}}
</div>